<div class="faq">
  <h2 class="faq-title">Frequently asked questions</h2>
  <ul class="faq-items">
  {% for item in faq.questions %}
    <li class="faq-item">
      <h3 class="faq-item-question">{{ item.question }}</h3> 
      <div class="faq-item-answer">{{ item.answer | md }}</div> 
    </li>
  {% endfor %}
  </ul>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {% for item in faq.questions %}
    {
      "@type": "Question",
      "name": "{{ item.question }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>{{ item.answer }}</p>"
      }
    }{{ loop.last ? '' : ',' }}
  {% endfor ~%}
  ]
}
</script>
