<div class="faq">
  <h2 class="faq-title">{{ faq.name }}</h2>
  <div class="faq-description">
      {{ faq.description | md }}
  </div>
{% if faq.categories | length >= 1 %}
  <div class="faq-categories">
  {% for category in faq.categories %}
    <details class="faq-category">
      <summary class="faq-category-name">{{ category.name }}</summary>
      <div class="faq-items">
      {% for item in category.questions %}
        <details class="faq-item">
          <summary class="faq-item-question">{{ item.question }}</summary>
          <div class="faq-item-answer">{{ item.answer | md }}</div>
        </details>
      {% endfor %}
      </div>
    </details>
  {% endfor %}
  </div>
{% else %}
  {% for item in faq.questions %}
    <details class="faq-item">
      <summary class="faq-item-question">{{ item.question }}</summary>
      <div class="faq-item-answer">{{ item.answer | md }}</div>
    </details>
  {% endfor %}
{% endif %}
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
  {% for item in faq.questions %}
    {
      "@type": "Question",
      "name": "{{ item.question }}",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "<p>{{ item.answer }}</p>"
      }
    }{{ loop.last ? '' : ',' }}
  {% endfor ~%}
  ]
}
</script>
