.faq {
  margin: 0;
  list-style-type: none;
  cursor: pointer;
}

.faq-item {
  margin-bottom: 0.5rem;
  color: var(--bs-dark-gray);
  background: var(--bs-light-gray);
  &:hover, &.active {
    color: var(--bs-yellow)!important;
    background: var(--bs-medium-gray)!important;
  }
  &:not(.active) .faq-item-answer {
    display: none;
  }
}

.faq-item-title {
  position: relative;
  padding: 0.75rem;
  margin-bottom: 0.25rem;
  font-weight: normal;
  &::after {
    position: absolute;
    right: 0;
    content: "+";
    padding: 0 1rem;
  }
}

.faq-item-answer {
  padding: 0 1rem 1rem;
  transition: margin 1s, opacity 1s ease-in-out 0.1s, max-height 2s ease-in-out;
  opacity: 1;
  max-height: 100%;
  color: white;
  background: inherit;
}
