.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq-category {
  color: gray;
  background: white;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.faq-items {
  margin: 1rem;
  list-style-type: none;
  cursor: pointer;
  color: inherit;
  background: inherit;
  font-weight: normal;
  text-transform: none;
}

.faq-item {
  color: inherit;
  background: inherit;
  &:hover {
    color: black;
    background: inherit;
  }
}

.faq-item-question {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 24px;
}

.faq-item-answer {
  padding: 0 1rem 1rem;
  padding-left: 2rem;
  transition: margin 1s, opacity 1s ease-in-out 0.1s, max-height 2s ease-in-out;
  opacity: 1;
  max-height: 100%;
  color: black;
  background: inherit;
  font-size: 18px;
}

summary::marker {
  content: '+ ';
  color: black;
}

summary::-webkit-details-marker {
  display: none;
}

